@import "../vars.scss";
@import "../mixins.scss";
body {
  margin: 0;
}
.popular-page {
  background-color: rgb(24, 24, 24);
  margin-left: 50px;
  width: calc(100vw - 50px);
  min-height: 94vh;
  
  &__title {
    font-family: $main-font;
    font-weight: 500;
    color: $white;
    font-size: 3rem;
    margin: 0;
    padding-top: 2vh;
    padding-left: 3vw;
  }

  &__content-container {
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
      margin-left: 3%;
      margin-top: 2%;
      padding-right: 8%;
      gap: 1.5vw;
    transform: translateX(0);
    transition: all 1s ease-in-out;
  }

  &__content-item {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
   flex-direction: column;
  }


 &__movie-image {
  transition: 0.7s ease-in-out;
  width: 16vw;
height: 49vh;
min-width: 190px;
min-height: 170px;
  object-fit: cover;
  border-radius: 20px;

 &:hover {
  box-shadow: 0 0 10px 2px $accent-color;
  width: 20vw;
  height: 52vh;
 }
 &:not(:hover) {
  transition: 0.7s;
}
@media (max-width: 800px) {
  gap: 10vw;
  justify-content: space-evenly;
}
}

&__movie-info {
font-size: 1.5rem;
margin-top: 2%;
color: $white;
font-weight: 500;
transition: all 0.8s,ease-in-out;
&:hover {
  color: $accent-color;
  font-size: 1.7rem;
  text-shadow: 0 0 10px 3px transparent $accent-color;
}
&:not(:hover) {
  transition: 0.5s;
}
  }

  &__movie-genres {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 2%;
    color: $white;
    transition: all 0.8s,ease-in-out;
&:hover {
  color: $accent-color;
  font-size: 1.2rem;
  text-shadow: 0 0 10px 3px transparent $accent-color;
}
&:not(:hover) {
  transition: 0.5s;
}
  }
  &__watch-button {
    margin-top: 5%;
    width: fit-content;
    padding: 10px;
    background-color: #4dbf00;
    color: $white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.7s all ease-in-out;
    &:hover {
      box-shadow: 0 0 10px 2px $accent-color;
      text-decoration: underline;
      font-size: larger;
     }
  }
}

.arrow-next {
  font-size: 80px;
  margin-right: 10vw;
  position: absolute;
  top: 25vh;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.arrow-prev {
  font-size: 80px;
  position: absolute;
  top: 25vh;
  left: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}


