@import "../vars.scss";
@import "../mixins.scss";
body {
    background-color: inherit;
}
.search-page {
    background-color: rgb(24, 24, 24);
    padding: 80px 0;
    // background-color: inherit;
    &__content-container {
        max-width: 1200px;
        margin: 0 auto;
        color: $white;
    }
    &__title {
        margin-bottom: 40px;
        font-weight: 500;
        color: $white;
        font-size: 3rem;
    }
    &__form {
        margin-bottom: 60px;
        width: 100%;
    }
    &__input-container {
        position: relative;
    }
    &__input {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $accent-color;
        border-radius: 2px;
        padding: 10px;
        color: $white;
        font-size: 24px;
        letter-spacing: 0.2px;
        width: 100%;
    }
    &__input::placeholder {
        color: gray;
        opacity: 0.8;
        letter-spacing: 0.2px;
    }
    &__icon {
        display: none;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        color: $white;
        cursor: pointer;
        font-size: 2rem;
        padding: 5px;
    }

    &__scroll-to-top {
        display: none;
        position: fixed;
        bottom: 30px;
        right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $accent-color;
        color: $white;
        border: none;

        @include flex-center();

        @include hover-effect($search-hover-color);

        svg {
            width: 24px;
            height: 24px;
            fill: currentColor;
            transform: rotate(-90deg);
        }
    }
}

.genres {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
    justify-content: space-between;
    align-items: center;

    &__item {
        background-color: rgba(128, 128, 128, 0.552);
        border-radius: 50px;
        color: $white;
        @include hover-effect($accent-color);
    }

    &__text {
        padding: 8px;
        letter-spacing: 0.5px;
        font-size: 18px;
    }
}

.recommend {
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 0.2px;
        margin-bottom: 40px;
    }

    &__items {
        @include flex-center(row);
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 40px;
    }

    &__item {
        margin-bottom: 120px;
        max-width: 210px;
        height: 300px;
        color: $white;

        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            margin-bottom: 10px;
            object-fit: cover;
            @include hover-effect($accent-color);
            box-shadow: 0 0 10px 2px transparent;

            &:hover {
                box-shadow: 0 0 10px 2px $accent-color;
            }
        }
    }
    &__item:hover {
        color: $accent-color;
        transition: 0.2s ease-in;
    }

    &__item-title {
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 0.1px;
        margin-bottom: 5px;
    }

    &__item-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__button {
        align-self: center;
        padding: 15px 25px;
        background-color: $accent-color;
        border-radius: 27px;
        border: none;
        font-size: 20px;
        font-weight: 600;

        @include hover-effect($search-hover-color);

        &:active {
            position: relative;
            top: 1px;
        }
    }
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $accent-color;
    color: $white;
    border: none;

    @include flex-center();

    @include hover-effect($search-hover-color);

    svg {
        width: 24px;
        height: 24px;
        fill: currentColor;
        transform: rotate(-90deg);
    }
}
