//здесь переменные
$main-font: "Roboto", sans-serif;
$secondary-font: "Sen", sans-serif;

$primary-color: #000;
$accent-color: tomato;
$white: #fff;
$search-hover-color: rgba(236, 94, 68, 0.723);
$background-color-dark: rgba(0, 0, 0, 0.937);

$transition-time: 0.2s;
